
header section{
justify-content: space-between;/* divide os elementos com espaçamentos iguais
tag paralelos horizontalmente. */
align-items:center; /*alinha os itens pelo centro */

}
header section nav ul{
  display: flex;
  flex-direction: row;
  list-style: none; /* serve para tirar as bolinhas da ul */
  align-items: center;
}
header section nav ul li a {
margin: 0px 15px;  /* isso vai separar os itens na horizontal */
text-decoration: none;
color: rgb(24, 203, 226);

}



