
 main section{
  align-items: center;
  justify-content: space-between;
}
.row article{
  width: 300px;
}
.row article h1{
  font-size: 70px;
  line-height: 90%;
  font-weight: 900;
  color: #333366;
  }
  .row article h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 200%;
    color: #3399cc;
    }
  
    .row article p {
      color: #3399cc;
      margin: 0px 20px 20px 0px;
    }
    .row div img {
      width: 700px;
    }


