@media (max-width: 1800px){
  body{
    background-size: 820px;
    }
  }
 @media (max-width: 1600px){
  body{
    background-size: 720px;
    }
  }
  @media (max-width: 1400px){
    body{
     background-size: 620px;
    }
  }

  @media (max-width: 1150px){
    body{
     background-size: 590px;
    }
  }
  @media (max-width: 1000px){
    body{
     background-size: 550px;
    }
  }
  @media (max-width: 850px){
    body{
     background-size: 540px;
     background-position:  left top;

    }
  }